.text-field {
    text-align: left;
    padding: 8px 25px;
}

label, input {
    display: block;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.buttons {
    display: table;
    width: 60%;
}

.error {
    color: red;
}