<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title align="center">${product.name}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/edit-product-validate.js}"></script>
    <link rel="stylesheet" th:href="@{css/editProduct.css}"/>
</head>

<body bgcolor="#f0f0f0">
<div th:include="logout :: hello"/>
<form action="/edit" method="post" class="edit-form">
    <div class="label">Product Name</div>
    <div class="labeled">
        <input type="text" class="text-field" th:name="name" th:value='${product.name}' maxlength="20"/>
    </div>
    <div class="label">Product Price</div>
    <div class="labeled">
        <input type="number" class="text-field" step="0.01" th:name="price" th:value='${product.price}'/>
    </div>
    <input type="hidden" name="id" th:value='${product.id}'/>
        <div class="buttons">
            <input type="submit" name="action" class="button save" value="Save"/>
            <input type="button" class="button" onclick="location.href='/home';" value="Cancel" />
        </div>
</form>

</body>
</html>
