<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title align="center">Login Page</title>
    <link rel="stylesheet" th:href="@{/css/editProduct.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body bgcolor="#f0f0f0">
    <form action="/error" method="get" class="error-form">
        <div class="error">
            ﻿<span th:text="${errorMessage}"></span>
        </div>
        <div class="buttons">
            <input type="button" value="Go back!" class="button goBack" onclick="history.back()"/>
        </div>
    </form>

</body>
</html>
