<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title align="center">Login Page</title>
    <link rel="stylesheet" th:href="@{/css/editProduct.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body bgcolor="#f0f0f0">
    <form action="/login" method="post" class="login-form">
        <div class="label">Login</div>
        <div class="labeled">
            <input id="loginInput" type="text" class="text-field" name="login" value="" maxlength="20" placeholder="Username"/>
        </div>
        <div class="label">Password</div>
        <div class="labeled">
            <input id="passwordInput" type="password" class="text-field" name="password" value="" placeholder="Password"/>
        </div>
        <div class="error">
            ﻿<span th:text="${error}"></span>
        </div>
        <div class="buttons">
            <input id="loginButton" type="submit" class="button" value="Login"/>
            <input type="button" class="button" onclick="location.href='/ShowProduct';" value="Register" />
        </div>
    </form>

</body>
</html>
