<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--<link rel="stylesheet" th:href="@{/css/showProduct.css}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->
</head>
<body>

    <div th:fragment="hello">
       <!-- <span th:text="Hello ${user.firstName} ${user.lastName}"></span>TODO use spring security-->
        <span th:text="'Hello Max Tkachov'"></span>

        <input type="submit" value="Logout" class="button logout" onclick="location.href='/logout';"/>
    </div>

</body>
</html>
