<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title align="center">Product List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/show-product-validate.js}"></script>
    <script th:src="@{/js/add-button-name.js}"></script>
    <link rel="stylesheet" th:href="@{css/showProduct.css}"/>
</head>

<body bgcolor="#f0f0f0">
<div th:include="logout :: hello"/>
<form action="/home" method="post" class="product-form">
    <table style="width:100%">
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Price</th>
            <th/>
        </tr>
        <tr th:each="product, iter : ${products}">
            <td th:text="${iter.index+1}"/>
            <td th:text="${product.name}"/>
            <td th:text="${product.price}"/>
            <td><input th:name="checked" th:value="${product.id}" type="checkbox" class="check-row" onclick="changeLabelAddButton()"/></td>
        </tr>
    </table>
    <div class="buttons">
        <input id="Add" type="submit" name="action" class="button edit" value="Add"/>
        <input type="submit" name="action" class="button delete" value="Delete"/>
        <input type="submit" name="action" class="button refresh" value="Refresh"/>
    </div>
</form>
</body>
</html>
